<mat-nav-list>
    <mat-card class="profil-card">
        <mat-card-content>
            <div mat-card-avatar class="header-image-profil-card"></div>
            <mat-card-title>Marcin Stamm</mat-card-title>
            <mat-card-subtitle>marcinstamm976976@gmail.com</mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <div class="menu-sidebar">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
                <mat-icon>settings</mat-icon>
                Settings
        </a>
    </div>
</mat-nav-list>
